.adminItemsHeader > h1{
    color: #17c783;
    font-size: 250%;
    margin-bottom: 0;
}

.adminItemPanelFlexContainer{
    padding-bottom: 10ch;
}

.adminItemsHeader > h2{
    color: #0a7c5a;
    font-size: 200%;
    margin-top: 0;
}

.itemCreatePrompt{
    color: white;
    margin-left: 2ch;
    overflow-wrap: break-word;
}


.tagAndInputContainer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 4ch;
    padding-bottom: 4ch;
    margin-right: 2ch;
}

.tagAndInputContainer > .tagFilter{
    border: #0a7c5a solid 0.25ch;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-right: 2ch;
}

.adminItemsTextualInputs{
    flex-basis: 50%;
    width: 100%;
    margin-left: 2ch;
    background-color: #0a7c5a;
    padding-left: 2ch;
    padding-right: 2.5ch;
    padding-top: 2ch;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.createItemHeader{
    color: #17c783;
    text-decoration: underline;
}

.imagesHeader{
    color: #17c783;
}

.createItemButton{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5ch;
    color: white;
    background-color:#17c783;
    border: none;
    margin-bottom: 5ch;
    font-size: 150%;
    padding-left: 2ch;
    padding-right: 2ch;
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    border-radius: 2ch;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.createItemButton:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #33946f;
}

.itemCreationInputPrompt{
    color: white;
}
.attachedTagsHeader{
    color:#17c783;
}

.itemViewMode{
    display: inline;
    color: #17c783;
}

.disableModeButton{
    margin-left: 2ch;
    border: none;
    color: white;
    background-color: red;
    font-size: 100%;
    border-radius: 2ch;
    display: inline;
    padding-top: 0.5ch;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 0.5ch;
    transition: background-color 0.5s ease, scale 0.5s ease;

}

.disableModeButton:hover{
    cursor: pointer;
    background-color: rgb(177, 0, 0);
    scale:1.1;
}