.contactFormContainer{
    background-color: #367583;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: max-content;
    min-width: 30%;
    padding-left: 3ch;
    padding-right: 3ch;
    padding-top: 1ch;
    border-radius: 2ch;
    padding-bottom: 2ch;
}

.contactName{
    display: block;
    border-radius: 1ch;
    width: 100%;
    margin-bottom: 1ch;
    height: 3ch;
}

.contactEmail{
    display: block;
    border-radius: 1ch;
    width: 100%;
    margin-bottom: 5ch;
    height: 3ch;
}

.contactMessage{
    resize: inherit;
    display: block;
    width: 100%;
    border-radius: 1ch;
    height: 30ch;
}

.contactSubmit{
    background-color:  #17c783;
    width: 100%;
    margin-top: 1ch;
    color: white;
    border: none;
    border-radius: 1ch;
}

.contactSubmit:enabled:hover{
    background-color:  #17885c;
    cursor: pointer;
}

.contactSubmit:disabled{
    background-color:  #09291d86;
}

.contactHeader{
    text-align: center;
    text-decoration: underline;
    color: white;
    width: 100%;
}

.contactSentCheck{
    text-align: center;
    font-size: 300%;
    transition: scale ease 0.3s;
}

.contactSentCheck:hover{
    scale: 1.2;
}

.contactSentConfirmation{
    text-align: center;
    color: #17c783;
}

.contactSentMessage{
    text-align: center;
    color: white;
}

.recaptcha{
    margin-top: 2ch;
}