.fileUploadButton{
    color: black;
    background-color: white ;
    font-size: 150%;
    margin-bottom: 2ch;
    margin-top: 2ch;
    border-radius: 2ch;
    padding-left: 1ch;
    padding-right: 1ch;
    transition: background-color 0.5s ease, color 0.5s ease;
    display: block;
    width: fit-content;
}

.fileUploadButton:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.imageBox{
    border: solid black;
    width: 100%;
    object-fit: cover;
    height: 40ch;
}

.removeImageButton{
    margin-left: auto;
    display: block;
    margin-bottom: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
    background-color: red;
    border: none;
    border-radius: 2ch;
    color: white;
    font-size: 110%;
    transition: scale 0.5s ease;
}

.removeImageButton:hover{
    cursor: pointer;
    scale: 1.1;
}