.itemCard{
    width: 20%;
    background-color: #3AAFA9;
    box-shadow: 0 4px 8px 0 #2b7a78;
    border-radius: 2ch;
    padding-bottom: 3ch;
    margin: 1ch;
}

.itemPrice{
    font-weight: bold;
    font-size: 175%;
    margin-top: 0;
    margin-left: 1ch;
    margin-right: 1ch;
}

.itemTitle{
   margin-bottom: 0;
   overflow-wrap: break-word;
   font-size: 200%;
   color: #FEFFFF;
   margin-left: 1ch;
   margin-right: 1ch;
   text-transform: uppercase;
}

.itemDollarSign{
    font-size: 120%;
}

.tagListTitle{
    margin-left: 1ch;
    margin-right: 1ch;
    font-size: 150%;
    width: fit-content;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 0;
}
