.card{
    width: fit-content;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2ch;
    padding-bottom: 3ch;
    margin-left: auto;
    margin-right: auto;
    
}

.loginHeader{
    display: inline;
    color: white;
    background: rgb(23,199,131);
    background: linear-gradient(90deg, rgba(23,199,131,1) 0%, rgba(54,117,131,1) 100%);
    padding-top: 3ch;
    display: block;
    text-align: center;
    padding-left: 3ch;
    padding-right: 3ch;
    border-top-left-radius: 1ch;
    border-top-right-radius: 1ch;
}

.loginHeader > div{
    font-size: large;
    padding-bottom: 2ch;
    margin-top: 0.2ch; 
}

.textbox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1ch;
    font-size: large;
    width: 80%;
}

.submitButton{
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
    border: none;
    font-size: large;
    border-radius: 0.5ch;
    padding-left: 2ch;
    padding-right: 2ch;
    width: 80%;
    background: rgb(23,199,131);
    background: linear-gradient(90deg, rgba(23,199,131,1) 0%, rgba(54,117,131,1) 100%);
    margin-top: 2ch;
    transition: scale 0.5s ease;
    
    
}

.submitButton:hover{
    cursor: pointer;
    scale: 1.1;
}

.loginErrorMessage{
    text-align: center;
}



