.paginator{
    width: fit-content;
    margin-top: 10ch;
}

.paginatorButton{
    display: inline;
    margin-left: 2ch;
    margin-right: 2ch;
    padding-left: 2ch;
    padding-right: 2ch;
    font-size: 100%;
    color: #DEF2F1;
    border: none;
    background-color: #2B7A78;
    cursor: pointer;
    border-radius: 2ch;
    transition: background-color 0.5s ease;

}

.paginatorButton:hover:enabled{
    background-color: #153636;
}

.paginatorButton:disabled{
    cursor:default;
    background-color: #a2afaf77;
    color: rgb(206, 203, 203);
}

.paginatorText{
    display: inline;
    color: #FEFFFF;
}